:root {
    --main-color: #6C5454;
    --secondary-color: #E4B4B4;
    --accent-color: #CD9B9B;
    --text-color : #000000;
}

#banner {
    position: relative;
    display: inline-block;
}

#banner img {
    display: block;
    width: 100%;
    aspect-ratio: 2/1;
    border-bottom: solid var(--text-color) 1px;
    border-top: solid var(--text-color) 1px;
}

#banner p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2rem;
    font-size: 4vw;
    padding: 3rem;
    background-color: rgb(0, 0, 0, 0.5);
    color: var(--accent-color);
    -webkit-text-stroke: 0.1rem;
    -webkit-text-stroke-color: var(--main-color);
}