html {
    background-color: #6C5454;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

h1 {
    width: auto;
    margin: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke: 0.05rem;
    -webkit-text-stroke-color: #CD9B9B;
}

h1 a{
    color: #6C5454;
}

h2 {
    background-color: #E4B4B4;
    padding: 2rem;
    text-align: center;
}

p, li, figcaption, textarea {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}