:root {
    --main-color: #6C5454;
    --secondary-color: #E4B4B4;
    --accent-color: #CD9B9B;
    --text-color : #000000;
}

html {
    background-color: var(--main-color);
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

h1 {
    width: auto;
    margin: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke: 0.05rem;
    -webkit-text-stroke-color: var(--accent-color);
}

h1 a{
    color: var(--main-color);
}

h2 {
    background-color: var(--secondary-color);
    padding: 2rem;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5rem;
    color: var(--main-color);
    border-top: solid var(--text-color) 2px;
    border-bottom: solid var(--text-color) 2px;
    -webkit-text-stroke: 0.01rem;
    -webkit-text-stroke-color: var(--accent-color);
}

h3 {
    font-size: xx-large;
}


p, li, figcaption, textarea, h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}