.sectionButton {
    width: fit-content;
    position: relative;
    display: inline-block;
    margin: 0.5rem;
    padding: 0rem;
}

.sectionButton img {
    display: block;
    width: 30rem;
    height: auto;
    border-radius: 2rem;
    border: solid var(--text-color) 1px;
}

.buttonPage {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    padding: 1rem;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    border-radius: 1rem;
    background-color: rgb(0, 0, 0, 0.5);
    color: var(--accent-color);
    -webkit-text-stroke: 0.1rem;
    -webkit-text-stroke-color: var(--main-color);
    border: 3px solid var(--main-color);
}