#d {
    border-radius: 2rem;
    background-color: var(--secondary-color);
    border: solid var(--text-color) 1px;
}

#form {
    display: block;
    text-align: center;
}

#prenom, #nom, #impression {
    margin: 1vw;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
}

#buttonSubmit {
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    border-radius: 1rem;
    background-color: var(--main-color);
    color: var(--accent-color);
    -webkit-text-stroke: 0.05rem;
    -webkit-text-stroke-color: var(--text-color);
}

#titreForm{
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--main-color);
    -webkit-text-stroke: 0.05rem;
    -webkit-text-stroke-color: var(--accent-color);
}