.listForum { 
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    align-self: center; 
    justify-self: center; 
    list-style: none; 
    background-color: var(--secondary-color); 
    padding: 3rem; 
    border-radius: 2rem; 
    border: solid var(--text-color) 1px; 
    max-width: 80%; 
    width: auto; 
    height: auto; 
}

.listForum * { 
    list-style: none; 
    margin: 1rem; 
} 

.titreForum { 
    color: var(--text-color);
    font-size: xx-large; 
    margin: 1rem;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

.listForum .descForum { 
    display: none; 
    justify-content: space-evenly; 
    align-items: center; 
    margin: 0rem; 
    padding: 0; 
} 

.listForum .descForum li { 
    width: auto;
    height: 100%; 
    margin: 1rem; 
    display: flex; 
    align-items: center; 
    color: var(--text-color); 
    cursor: pointer; 
} 

.icoExtension { 
    width: 1rem; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-left: 2rem ; 
    font-size: 3rem; 
    color: var(--text-color); 
    cursor: pointer; 
} 

#toggle1_1:checked ~ .descForum {
    display: block;
}

#toggle1_2:checked ~ .descForum {
    display: block;
}

#toggle1_3:checked ~ .descForum {
    display: block;
}

#toggle2_1:checked ~ .descForum {
    display: block;
}

#toggle2_2:checked ~ .descForum {
    display: block;
}

#toggle2_3:checked ~ .descForum {
    display: block;
}

.toggleForum {
    display: none;
}