header {
    background-color: var(--secondary-color);
    align-items: center;
    display: flex;
    width: auto;
    border-bottom: solid var(--text-color) 1px;
}

footer {
    border-top: solid var(--text-color) 1px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer * {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

#icoSite {
    height: 3rem;
    width: auto;
    margin-left: auto;
    cursor: pointer;
}

#logoUni {
    height: 5rem;
    width: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}