.histoire {
    width: fit-content;
    height: fit-content;
    margin: 2rem;
    justify-self: center;
    background-color: var(--secondary-color);
    display: flex;
    padding: 1rem;
    align-items: center;
    border-radius: 1.5rem;
    border: solid var(--text-color) 1px;
}

.histoireContenu {
    padding: 0rem;
    margin: 1rem;
}

.histoireImg {
    width: 35rem;
    height: 25rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin-bottom: 1.5rem;
    border-radius: 1.5rem;
    border: solid var(--text-color) 1px;
}

.histoireIMG {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.videoContainer {
    position: relative;
}

.videoHistoire {
    position: absolute;
    bottom: 25vh;     
    right: 12vw;    
    height: 80vh;
    width: 70vw;
    max-width: 900px;
    aspect-ratio: 16 / 9;
    border-radius: 1.5rem;
    border: 3px solid #CD9B9B;
}