:root {
    --main-color: #6C5454;
    --secondary-color: #E4B4B4;
    --accent-color: #CD9B9B;
    --text-color : #000000;
}

.histoire {
    width: fit-content;
    height: fit-content;
    margin: 2rem;
    justify-self: center;
    background-color: var(--secondary-color);
    display: flex;
    padding: 1rem;
    align-items: center;
    border-radius: 1.5rem;
    border: solid var(--text-color) 1px;
}

.histoireContenu {
    padding: 0rem;
    margin: 1rem;
}

.histoireImg {
    width: 35rem;
    height: 25rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin-bottom: 1.5rem;
    border-radius: 1.5rem;
    border: solid var(--text-color) 1px;
}