.histoire {
    width: fit-content;
    height: fit-content;
    margin: 2rem;
    justify-self: center;
    background-color: var(--secondary-color);
    display: flex;
    padding: 1rem;
    align-items: center;
    border-radius: 1.5rem;
    border: solid var(--text-color) 1px;
}

.histoireContenu {
    padding: 0rem;
    margin: 1rem;
}

.histoireImg {
    width: 35rem;
    height: 25rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin-bottom: 1.5rem;
    border-radius: 1.5rem;
    border: solid var(--text-color) 1px;
}

.histoireIMG {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.videoHistoire {
    display: block;
    margin: 1rem auto;
    justify-self: center;
    background-color: black;  
    height: 35rem;
    width: 35rem;
    max-width: 900px;
    border-radius: 1.5rem;
    border: 3px solid var(--accent-color);
}