:root {
    --main-color: #6C5454;
    --secondary-color: #E4B4B4;
    --accent-color: #CD9B9B;
    --text-color : #000000;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} 

#ancre {
    position: fixed;
    left: 2vw;
    bottom: 30%;
    background-color: black;
    border: solid var(--accent-color) 2px;
    border-radius: 2vw;
    width: fit-content;
    height: auto;
    display: block;
    text-align: center;
}

#ancreImg {
    height: 4vw;
    width: auto;
    margin: 1vw;
}

.like {
    cursor: pointer;
    height: 4rem;
    width: auto;
}

.like.checked {
  transform: scale(1.2);
  filter: hue-rotate(300deg);
}

.lien {
    height: 4rem;
    width: auto;
}

.compteur{
    text-align: center;
    margin-bottom: 3rem;
}