:root {
    --main-color: #6C5454;
    --secondary-color: #E4B4B4;
    --accent-color: #CD9B9B;
    --text-color : #000000;
}

nav {
    width: auto;
    height: fit-content;
}

nav input[type="checkbox"] {
    display: none;
}

nav .pages {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0rem;
    padding: 0;
}

nav .pages li {
    width: auto;
    height: 100%;
    margin: 1rem;
    display: flex;
    align-items: center;
    color: var(--text-color);
    cursor: pointer;
}

nav .pages li a {
    display: block;
    color: var(--text-color);
    padding: 2rem;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border-radius: 1rem;
}

nav .pages li a:hover {
    background-color: var(--accent-color);
}

#icoMenu {
    display: none;
}

@media (max-width: 990px) {
    nav {
        height: auto;
    }
 
    nav .pages {
        display: none;
    }
 
    #icoMenu {
        width: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2rem ;
        font-size: 5rem;
        color:  var(--text-color);
        cursor: pointer;
    }

    #toggle:checked + .pages {
        display: block;
    }

    nav .pages li a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    }
}