.concert {
    width: fit-content;
    height: fit-content;
    margin: 2rem;
    justify-self: center;
    background-color: var(--secondary-color);
    display: flex;
    padding: 1rem;
    align-items: center;
    border-radius: 1.5rem;
    border: solid var(--text-color) 1px;
}

.textSuppConcert {
    color: var(--text-color);
    max-width: 25vh;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
}

.concertContenu {
    padding: 0rem;
    margin: 1rem;
}

.concertContenu li {
    list-style-type: none;
}

.concertImg {
    width: 20rem;
    height: 20rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin-bottom: 1.5rem;
    border-radius: 1.5rem;
    border: solid var(--text-color) 1px;
}

.histoireForum {
    width: fit-content;
    height: fit-content;
    margin: 2rem;
    text-align: center;
    justify-self: center;
    background-color: var(--secondary-color);
    display: block;
    padding: 1rem;
    align-items: center;
    border-radius: 1.5rem;
    border: solid var(--text-color) 1px;
}

.textSuppForum {
    color: var(--text-color);
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
}

@media (max-width: 732px) 
{
  .textSuppConcert{
    display: none;
  }
}