html {
    background-color: #6C5454;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

header {
    background-color: #E4B4B4;
    align-items: center;
    display: flex;
    width: auto;
}

#icoMenu {
    height: 5rem;
    width: auto;
    margin: 1rem;
}

#icoSite {
    height: 3rem;
    width: auto;
    margin-left: auto;
}

h1 {
    margin: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

nav 
{
    width: 50%;
    height: fit-content;
}

nav .pages 
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0rem;
    padding: 0;
}

nav .pages li
{
    width: auto;
    height: 100%;
    margin: 1rem;
    display: flex;
    align-items: center;
    color: black;
    cursor: pointer;
}

nav .pages li a {
    display: block;
    color: black;
    padding: 2rem;
    text-decoration: none;
}

nav .pages li a:hover {
    background-color: #CD9B9B;
}

#icoMenu
{
    display: none;
}

#icoMenu, #toggle
{
    display: none;
}

@media all and (max-width: 800px)
{
    nav
    {
        height: auto;
    }
 
    nav .pages 
    {
        display: none;
    }
 
    #icoMenu 
    {
        width: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2rem ;
        font-size: 5rem;
        color: black;
        cursor: pointer;
    }

    #toggle:checked + .pages {
        display: block;
    }

    nav .pages li a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    }
}

#logoUni {
    height: 5rem;
    width: auto;
}

footer {
    background-color: #E4B4B4;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#d {
    border-radius: 2rem;
    background-color: #E4B4B4;
}

.banner {
    position: relative;
    display: inline-block;
}

.banner img {
    display: block;
    width: 100%;
}

.banner .bannerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    background-color: #E4B4B4;
    padding: 2rem;
    text-align: center;
}

.ancre {
    width: auto;
    height: auto;
    display: block;
    text-align: center;
    margin: 2rem;
}

.ancreText {
    font-size: 3rem;
}

.ancreImg {
    height: 25rem;
    width: auto;
}

.concert {
    width: fit-content;
    height: fit-content;
    margin: 2rem;
    justify-self: center;
    background-color: #E4B4B4;
    display: flex;
    padding: 1rem;
    align-items: center;
    border-radius: 1.5rem;
}

.like {
    height: 4rem;
    width: auto;
}

.compteur{
    text-align: center;
    margin-bottom: 3rem;
}

.lien {
    height: 4rem;
    width: auto;
}

.concertContenu {
    padding: 0rem;
    margin: 1rem;
}

.concertImg {
    width: 20rem;
    height: 20rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin-bottom: 1.5rem;
    border-radius: 1.5rem;
}

.contenuBody {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.histoireForum {
    width: fit-content;
    height: fit-content;
    margin: 2rem;
    text-align: center;
    justify-self: center;
    background-color: #E4B4B4;
    display: block;
    padding: 1rem;
    align-items: center;
    border-radius: 1.5rem;
}

.sectionButton {
    display: flex;
    position: relative;
    display: inline-block;
    margin: 0.5rem;
    padding: 0rem;
}

.sectionButton img {
    display: block;
    width: 30rem;
    height: auto;
}

.sectionButton .buttonPage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
