html {
    background-color: #6C5454;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;;
}

header {
    background-color: #E4B4B4;
    align-items: center;
    display: flex;
    width: auto;
}

#icoMenu {
    height: 5rem;
    width: auto;
    margin: 1rem;
}

#icoSite {
    height: 3rem;
    width: auto;
    margin-left: auto;
}

h1 {
    width: auto;
    margin: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke: 0.05rem;
    -webkit-text-stroke-color: #CD9B9B;
}

h1 a{
    color: #6C5454;
}

a {
    text-decoration: none;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5vw;
}

p, li, figcaption, textarea {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

nav 
{
    width: auto;
    height: fit-content;
}

nav .pages 
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0rem;
    padding: 0;
}

nav .pages li
{
    width: auto;
    height: 100%;
    margin: 1rem;
    display: flex;
    align-items: center;
    color: black;
    cursor: pointer;
}

nav .pages li a {
    display: block;
    color: black;
    padding: 2rem;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    border-radius: 1rem;
}

nav .pages li a:hover {
    background-color: #CD9B9B;
}

#icoMenu
{
    display: none;
}

#icoMenu, #toggle
{
    display: none;
}

#logoUni {
    height: 5rem;
    width: auto;
}

footer {
    background-color: #E4B4B4;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer * {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

#d {
    border-radius: 2rem;
    background-color: #E4B4B4;
}

#form {
    display: block;
    text-align: center;
}

#prenom, #nom, #impression {
    margin: 1vw;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
}

#buttonSubmit {
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    border-radius: 1rem;
    background-color: #6C5454;
    color: #CD9B9B;
    -webkit-text-stroke: 0.05rem;
    -webkit-text-stroke-color: black;
}

#titreForm{
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #6C5454;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke: 0.05rem;
    -webkit-text-stroke-color: #CD9B9B;
}

#banner {
    position: relative;
    display: inline-block;
}

#banner img {
    display: block;
    width: 100%;
    aspect-ratio: 2/1;
}

#banner p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2rem;
    font-size: 4vw;
    padding: 3rem;
    background-color: rgb(0, 0, 0, 0.5);
    color: #CD9B9B;
    -webkit-text-stroke: 0.1rem;
    -webkit-text-stroke-color: #6C5454;
}


h2 {
    background-color: #E4B4B4;
    padding: 2rem;
    text-align: center;
}

#ancre {
    position: fixed;
    left: 2vw;
    bottom: 50%;
    background-color: black;
    border: solid #CD9B9B 2px;
    border-radius: 2vw;
    width: fit-content;
    height: auto;
    display: block;
    text-align: center;
}

#ancreImg {
    height: 5vw;
    width: auto;
    margin: 1vw;
}

.concert {
    width: fit-content;
    height: fit-content;
    margin: 2rem;
    justify-self: center;
    background-color: #E4B4B4;
    display: flex;
    padding: 1rem;
    align-items: center;
    border-radius: 1.5rem;
}

.textSuppConcert {
    max-width: 25vh;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
}

.like {
    cursor: pointer;
    height: 4rem;
    width: auto;
}

.like.checked {
  transform: scale(1.2);
  filter: hue-rotate(300deg);
}

.compteur{
    text-align: center;
    margin-bottom: 3rem;
}

.lien {
    height: 4rem;
    width: auto;
}

.concertContenu {
    padding: 0rem;
    margin: 1rem;
}

.concertImg {
    width: 20rem;
    height: 20rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin-bottom: 1.5rem;
    border-radius: 1.5rem;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} 

.histoireForum {
    width: fit-content;
    height: fit-content;
    margin: 2rem;
    text-align: center;
    justify-self: center;
    background-color: #E4B4B4;
    display: block;
    padding: 1rem;
    align-items: center;
    border-radius: 1.5rem;
}

.textSuppForum {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
}

.sectionButton {
    width: fit-content;
    display: flex;
    position: relative;
    display: inline-block;
    margin: 0.5rem;
    padding: 0rem;
}

.buttonPage {
    padding: 1rem;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    border-radius: 1rem;
    background-color: rgb(0, 0, 0, 0.5);
    color: #CD9B9B;
    -webkit-text-stroke: 0.1rem;
    -webkit-text-stroke-color: #6C5454;

}

.sectionButton img {
    display: block;
    width: 30rem;
    height: auto;
    border-radius: 2rem;
}

.sectionButton .buttonPage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 732px) 
{
  .textSuppConcert{
    display: none;
  }
}

@media (max-width: 990px) 
{
    #logoUni {
    width: 4rem;
    height: auto;
    }

    nav
    {
        height: auto;
    }
 
    nav .pages 
    {
        display: none;
    }
 
    #icoMenu 
    {
        width: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2rem ;
        font-size: 5rem;
        color: black;
        cursor: pointer;
    }

    #toggle:checked + .pages {
        display: block;
    }

    nav .pages li a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    }
}

