html {
    background-color: #6C5454;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #E4B4B4;
    align-items: center;
    display: flex;
    width: auto;
    padding: 15px;
}

#icoMenu {
    height: 50px;
    width: 50px;
}

#icoSite {
    height: 32px;
    width: 32px;
    margin-left: auto;
}

h1 {
    margin-left: 15px;
}